.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1, h2, h3, ul, li, body, p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    padding: 25px;
}