/* General Styles */
body {
    background: rgb(250, 248, 245);
    font-family: 'Bebas Neue', sans-serif;
}

/* Centering the H1 */
body h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 0;
    color: rgb(189, 103, 22);
}

/* Social Media Links */
.social-media-links ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
}

.social-media-links li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.social-media-links li a:hover {
    background-color: rgb(100, 14, 14);
}

.social-media-links img {
    width: 50px;
    height: 50px;
    padding: 25px;
}

/* Hero Image */
.hero-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-p {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero-p p {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    color: rgb(189, 103, 22);
}

.menu-button  {
    display: none;
}

/* Nav */
.nav-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item {
    margin: 0 5px; 
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #575757;
    color: #fff;
}

.close {
    display: none;
}

#meet-and-greet-banner {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(49, 133, 49);
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
}

#close-button {
    display: none;
}

#close-banner-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(49, 133, 49);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
}

#close-banner-btn:hover {
    background-color: rgb(235, 60, 60);
}


/* FAQ Section */
.faq ul {
    list-style: none;
    padding: 0; 
}

.faq li {
    color: rgb(100, 14, 14); 
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.faq h2 {
    color: rgb(100, 14, 14);
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 21px;
    color: rgb(100, 14, 14);
}

/* Articles Section */
.articles {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-flow: column;
    gap: 40px;
    padding: 20px;
}

.articles h2 {
    text-align: center;
    color: rgb(100, 14, 14);
}

/* Current Events */
.current-events ul {
    list-style: none; 
    padding: 0; 
}

.current-events li {
    color: rgb(100, 14, 14);
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}

.current-events h2 {
    color: rgb(100, 14, 14);
}

#member-spotlight {
    display: flex;
    justify-content: space-around;
}

/* Weather Section */
#weather {
    color: rgb(189, 103, 22);
    font-size: 40px;
    text-align: center;
}

.card {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(204, 196, 192);
    font-size: 1.5rem;
    color: rgb(100, 14, 14);
}

.current-weather-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    margin: 0 auto; 
}

#forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.forecast-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 10px; 
}

/* Spotlight Section */
.spotlight {
    color: rgb(100, 14, 14);
}

/* Signup Button */
.signup-header {
    text-align: center;
    color: rgb(189, 103, 22);
    font-size: 27px;
}

#meet-and-greet-banner p { 
    color: green;
}

#signup-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(100, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
}

#signup-button:hover {
    background-color: rgb(235, 60, 60);
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content h2, p, input, label {
    color: rgb(100, 14, 14);;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 5px solid #888;
    width: 100%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    margin-top: 20px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
}

.modal button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(129, 52, 52);
    color: white;
    border: none;
    cursor: pointer;
}

.modal button[type="submit"]:hover {
    background-color: rgb(100, 14, 14);
}

/* View Toggle Buttons */
.view-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.view-toggle button {
    background-color: #0056b3; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-toggle button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.view-toggle button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5); 
}

.view-toggle button.active {
    background-color: #0056b3; 
}

/* Member Container */
#member-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-view .member {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.list-view .member {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.member img {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.member-info {
    margin-left: 10px;
}

.member-info h2 {
    margin: 0 0 10px;
}

.member-info p, .member-info a {
    margin: 5px 0;
}

.member-info a {
    color: blue;
    text-decoration: none;
}

.member-info a:hover {
    text-decoration: underline;
}

.current-events form {
    background-color: rgba(204, 196, 192, 0.5);
    padding: 70px;
    border-radius: 10px;
    margin-top: 20px;
}

.current-events form label {
    font-size: 20px;
    color: rgb(138, 71, 8); 
    margin-bottom: 10px;
    display: block;
}

.current-events form input[type="text"],
.current-events form input[type="email"],
.current-events form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(138, 71, 8); 
}

.current-events form textarea {
    resize: none; 
}

.current-events form button {
    background-color: rgb(100, 14, 14); 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.current-events form button:hover {
    background-color: rgb(235, 60, 60); 
    transform: scale(1.05);
}


/* Footer */
footer { 
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(100, 14, 14);
}

#lastModified, #copyright-year, #current-year{
    margin-left: 10px;
    color: rgb(100, 14, 14);
}




