body {
    background-color: #f3e7d4;
    font-family: "Trirong", serif;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #8ec3eb;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #2a6592;
}

.header-container h1 {
    margin: 0;
    color: black;
}

.nav-container {
    background-color: #2a6592;
    padding: 10px;
    text-align: center;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.thankyou-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thankyou-container h1 {
    color: #2a6592;
}

.thankyou-container p {
    color: #333;
}

footer {
    background-color: #8ec3eb;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #2a6592;
}

footer p {
    margin: 0;
    color: black;
}